version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    ports:
      - "5432:5432"
  api:
    build: './'
    container_name: node_container
    restart: always
    ports:
      - "9001:9001"
    env_file:
    - .env
    depends_on:
      - db
