version: '3.1'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_DATABASE: raizes
    ports:
      - "5432:5432"
  api:
    build: './'
    container_name: node_container
    restart: always
    ports:
      - "3000:3000"
    env_file:
    - .env
    volumes:
      - ./:/app
    depends_on:
      - db
